<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <signifyd>
            <payment>
                <hostedpayment_gateway>
                    <signifyd_bin_adapter>Apexx\Base\Model\Payment\MappingPayment\BinMapper</signifyd_bin_adapter>
                    <signifyd_avs_ems_adapter>Apexx\Base\Model\Payment\MappingPayment\AvsEmsCodeMapper</signifyd_avs_ems_adapter>
                    <signifyd_cvv_ems_adapter>Apexx\Base\Model\Payment\MappingPayment\CvvEmsCodeMapper</signifyd_cvv_ems_adapter>
                    <signifyd_exp_month_adapter>Apexx\Base\Model\Payment\MappingPayment\ExpMonthMapper</signifyd_exp_month_adapter>
                    <signifyd_exp_year_adapter>Apexx\Base\Model\Payment\MappingPayment\ExpYearMapper</signifyd_exp_year_adapter>
                    <signifyd_last4_adapter>Apexx\Base\Model\Payment\MappingPayment\Last4Mapper</signifyd_last4_adapter>
                    <signifyd_transaction_id_adapter>Apexx\Base\Model\Payment\MappingPayment\TransactionIdMapper</signifyd_transaction_id_adapter>
                </hostedpayment_gateway>
                <ccdirect_gateway>
                    <signifyd_bin_adapter>Apexx\Base\Model\Payment\MappingPayment\BinMapper</signifyd_bin_adapter>
                    <signifyd_avs_ems_adapter>Apexx\Base\Model\Payment\MappingPayment\AvsEmsCodeMapper</signifyd_avs_ems_adapter>
                    <signifyd_cvv_ems_adapter>Apexx\Base\Model\Payment\MappingPayment\CvvEmsCodeMapper</signifyd_cvv_ems_adapter>
                    <signifyd_exp_month_adapter>Apexx\Base\Model\Payment\MappingPayment\ExpMonthMapper</signifyd_exp_month_adapter>
                    <signifyd_exp_year_adapter>Apexx\Base\Model\Payment\MappingPayment\ExpYearMapper</signifyd_exp_year_adapter>
                    <signifyd_last4_adapter>Apexx\Base\Model\Payment\MappingPayment\Last4Mapper</signifyd_last4_adapter>
                    <signifyd_transaction_id_adapter>Apexx\Base\Model\Payment\MappingPayment\TransactionIdMapper</signifyd_transaction_id_adapter>
                </ccdirect_gateway>
                <cse_gateway>
                    <signifyd_bin_adapter>Apexx\Base\Model\Payment\MappingPayment\BinMapper</signifyd_bin_adapter>
                    <signifyd_avs_ems_adapter>Apexx\Base\Model\Payment\MappingPayment\AvsEmsCodeMapper</signifyd_avs_ems_adapter>
                    <signifyd_cvv_ems_adapter>Apexx\Base\Model\Payment\MappingPayment\CvvEmsCodeMapper</signifyd_cvv_ems_adapter>
                    <signifyd_exp_month_adapter>Apexx\Base\Model\Payment\MappingPayment\ExpMonthMapper</signifyd_exp_month_adapter>
                    <signifyd_exp_year_adapter>Apexx\Base\Model\Payment\MappingPayment\ExpYearMapper</signifyd_exp_year_adapter>
                    <signifyd_last4_adapter>Apexx\Base\Model\Payment\MappingPayment\Last4Mapper</signifyd_last4_adapter>
                    <signifyd_transaction_id_adapter>Apexx\Base\Model\Payment\MappingPayment\TransactionIdMapper</signifyd_transaction_id_adapter>
                </cse_gateway>
            </payment>
        </signifyd>
    </default>
</config>
